#keyboard

	h6 Sound Wheel Hot Keys
		
	//- ==============================================================================================
	
	// Top row F Keys
	ul#f-keys
		li: button( value="27", type="button", data-tip="Clear All Memory", class="c27 fn tooltip-left key-active"): kbd(id="esc") Esc
		
		li: button( value="112", type="button", data-tip="Tool Tip", class="c112 fn tooltip-up"): kbd F1
		li: button( value="113", type="button", data-tip="Tool Tip", class="c113 fn tooltip-up"): kbd F2
		li: button( value="114", type="button", data-tip="Tool Tip", class="c114 fn tooltip-up"): kbd F3
		li: button( value="115", type="button", data-tip="Tool Tip", class="c115 fn tooltip-up"): kbd F4
		li: button( value="116", type="button", data-tip="Reload", class="c116 fn tooltip-up"): kbd F5
		li: button( value="117", type="button", data-tip="Tool Tip", class="c117 fn tooltip-up"): kbd F6
		li: button( value="118", type="button", data-tip="Tool Tip", class="c118 fn tooltip-up"): kbd F7
		li: button( value="119", type="button", data-tip="Tool Tip", class="c119 fn tooltip-up"): kbd F8
		li: button( value="120", type="button", data-tip="Tool Tip", class="c120 fn tooltip-up"): kbd F9
		li: button( value="121", type="button", data-tip="Tool Tip", class="c121 fn tooltip-up"): kbd F10
		li: button( value="122", type="button", data-tip="Go Full Screen", class="c122 fn tooltip-up"): kbd F11
		// li: button( value="122", type="button", data-tip="Go Full Screen", class="c122 fn tooltip-up"): kbd F12
		
		li: button( value="123", type="button", data-tip="Disabled", class="c123 fn tooltip-up tooltip-disabled", disabled): kbd F12
		li: button( value="-1", type="button", data-tip="Tool Tip", class="fn eject tooltip-right", disabled): kbd Eject
	
		
	//- ==============================================================================================
	
	// Second row Numbers
	ul#number-keys
		li: button(value="192", type="button", data-tip="Tool Tip", class="c192 tooltip-left"): <figure>~</figure><kbd>`</kbd>
		
		li: button(value="49", type="button", data-tip="Load Preset 1", class="c49"): <figure>!</figure><kbd>1</kbd>
		li: button(value="50", type="button", data-tip="Load Preset 2", class="c50"): <figure>@</figure><kbd>2</kbd>
		li: button(value="51", type="button", data-tip="Load Preset 3", class="c51"): <figure>#</figure><kbd>3</kbd>
		li: button(value="52", type="button", data-tip="Load Preset 4", class="c52"): <figure>$</figure><kbd>4</kbd>
		li: button(value="53", type="button", data-tip="Load Preset 5", class="c53"): <figure>%</figure><kbd>5</kbd>
		li: button(value="54", type="button", data-tip="Load Preset 6", class="c54"): <figure>^</figure><kbd>6</kbd>
		li: button(value="55", type="button", data-tip="Load Preset 7", class="c55"): <figure>&amp;</figure><kbd>7</kbd>
		li: button(value="56", type="button", data-tip="Load Preset 8", class="c56"): <figure>*</figure><kbd>8</kbd>
		li: button(value="57", type="button", data-tip="Load Preset 9", class="c57"): <figure>(</figure><kbd>9</kbd>
		li: button(value="48", type="button", data-tip="Load Preset 10", class="c48"): <figure>)</figure><kbd>0</kbd>
		
		li: button(value="189", type="button", data-tip="Tool Tip", class="c189 alt"): <figure>_</figure><kbd>-</kbd>
		li: button(value="187", type="button", data-tip="Tool Tip", class="c187"): <figure>+</figure><kbd>=</kbd>
		
		li: button(value="46", type="button", data-tip="Undo", class="c46 tooltip-right", id="delete"): kbd Delete
	
	
		
	//- ==============================================================================================
	
	// QWERTY
	ul#qwerty-keys
		li: button(value="9", type="button", data-tip="Tool Tip", class="c9 tab tooltip-left"): kbd tab
		
		li: button(value="81", type="button", data-tip="Tool Tip", class="c81"): kbd q
		li: button(value="87", type="button", data-tip="Tool Tip", class="c87"): kbd w
		li: button(value="69", type="button", data-tip="Tool Tip", class="c69"): kbd e
		li: button(value="82", type="button", data-tip="Tool Tip", class="c82"): kbd r
		li: button(value="84", type="button", data-tip="Tool Tip", class="c84"): kbd t
		li: button(value="89", type="button", data-tip="Tool Tip", class="c89"): kbd y
		li: button(value="85", type="button", data-tip="Tool Tip", class="c85"): kbd u
		li: button(value="73", type="button", data-tip="Tool Tip", class="c73"): kbd i
		li: button(value="79", type="button", data-tip="Tool Tip", class="c79"): kbd o
		li: button(value="80", type="button", data-tip="Tool Tip", class="c80"): kbd p
		li: button(value="219", type="button", data-tip="Tool Tip", class="c219 alt"): <figure>{</figure><kbd>[</kbd>
		li: button(value="221", type="button", data-tip="Tool Tip", class="c221 alt"): <figure>}</figure><kbd>]</kbd>
		li: button(value="220", type="button", data-tip="Tool Tip", class="c220 alt tooltip-right"): <figure>|</figure><kbd>\</kbd>

		
		
	//- ==============================================================================================
	
	//ASDFG	
	ul#asdfg-keys
		li
			div(class="alt capslock")
				input(type="checkbox", name="caps", id="capslock-id", value="20" )
				label#caps(for="capslock-id", class="button tooltip-left", type="button", data-tip="Tool Tip", unselectable)
					kbd Caps Lock
					
		li: button(value="65", type="button", data-tip="Tool Tip", class="c65"): kbd a
		li: button(value="83", type="button", data-tip="Tool Tip", class="c83"): kbd s
		li: button(value="68", type="button", data-tip="Tool Tip", class="c68"): kbd d
		li: button(value="70", type="button", data-tip="Tool Tip", class="c70"): kbd f
		li: button(value="71", type="button", data-tip="Tool Tip", class="c71"): kbd g
		li: button(value="72", type="button", data-tip="Tool Tip", class="c72"): kbd h
		li: button(value="74", type="button", data-tip="Tool Tip", class="c74"): kbd j
		li: button(value="75", type="button", data-tip="Tool Tip", class="c75"): kbd k
		li: button(value="76", type="button", data-tip="Tool Tip", class="c76"): kbd l
		
		li: button(value="186", type="button", data-tip="Tool Tip", class="c186 alt")
			figure :
			kbd ;
		
		li: button(value="222", type="button", data-tip="Tool Tip", class="c222 alt"): <figure>"</figure><kbd>'</kbd>
		
		li: button(value="13", type="button", data-tip="Clear All Notes", class="c13 alt return tooltip-right", id="enter"): kbd return
	
		
		
	//- ==============================================================================================
	
	//ZXCVB
	ul#zxcvb-keys
		li: button(value="16", type="button", data-tip="With any memory key : Save", class="c16 shiftleft tooltip-left"): kbd Shift
		
		li: button(value="90", type="button", data-tip="Ctrl-Z : Undo\nZ : Save to Memory", class="c90"): kbd z
		li: button(value="88", type="button", data-tip="Tool Tip", class="c88"): kbd x
		li: button(value="67", type="button", data-tip="Tool Tip", class="c67"): kbd c
		li: button(value="86", type="button", data-tip="Tool Tip", class="c86"): kbd v
		li: button(value="66", type="button", data-tip="Tool Tip", class="c66"): kbd b
		li: button(value="78", type="button", data-tip="Tool Tip", class="c78"): kbd n
		li: button(value="77", type="button", data-tip="Tool Tip", class="c77"): kbd m
		li: button(value="188", type="button", data-tip="Tool Tip", class="c188 alt")<figure>&lt;</figure><kbd>,</kbd>
		li: button(value="190", type="button", data-tip="Tool Tip", class="c190 alt")<figure>&gt;</figure><kbd>.</kbd>
		li: button(value="191", type="button", data-tip="Tool Tip", class="c191 alt")<figure>?</figure><kbd>/</kbd>
		
		li: button(value="16", type="button", data-tip="With any memory key : Save", class="c16 shiftright tooltip-right"): kbd Shift
		
		
		
	//- ==============================================================================================
	
	// Bottom Row
	ul#bottom-keys 
		li: button(value="0", type="button", data-tip="Disabled", class="tooltip-left", id="fn", disabled): kbd fn
		li: button(value="17", type="button", data-tip="Tool Tip", class="c17", id="control"): kbd ctrl
		li: button(value="91", type="button", data-tip="Tool Tip", class="option", id="optionleft"): kbd alt
		
		li: button(value="0", type="button", data-tip="Disabled", class="command commandleft", id="commandleft", disabled): kbd cmd
		
		li: button(value="32", type="button", data-tip="Whilst dragging, changes between Sine wave, Square Wave and Triangle", class="c32 key-red", id="spacebar"): kbd &nbsp;
		
		li: button(value="0", type="button", data-tip="Disabled", class="command commandright", id="commandright", disabled): kbd cmd
		li: button(value="92", type="button", data-tip="Tool Tip", class="option", id="optionright"): kbd alt

		//- Arrow Navigation -------------------------------------------------------------------------
		ol#arrow-keys
			li: button(value="37", type="button", data-tip="Rotate Anti-Clockwise", class="c37", id="left"): kbd ◀
			li
				button(value="38", type="button", data-tip="Move notes inwards", class="c38", id="up"): kbd ▲
				button(value="40", type="button", data-tip="Pull notes outward", class="c40", id="down"): kbd ▼
				
			li: button(value="39", type="button", data-tip="Rotate Clockwise", class="c39 tooltip-right", id="right"): kbd ▶