mixin key( key, code, tip, shift, keyID )
	//- if is a shifted key
	li: button( data-tip=tip, class="c27 fn"): kbd(id=keyID) key
	//- else is a regular lowercase / uppercase key
	
#keyboard

	//- ==============================================================================================
	
	// Top row F Keys
	ul#f-keys
		li: button( data-tip="Tool Tip", class="c27 fn tooltip-left key-active"): kbd(id="esc") Esc
		li: button( data-tip="Tool Tip", class="c112 fn tooltip-up"): kbd F1
		li: button( data-tip="Tool Tip", class="c113 fn tooltip-up"): kbd F2
		li: button( data-tip="Tool Tip", class="c114 fn tooltip-up"): kbd F3
		li: button( data-tip="Tool Tip", class="c115 fn tooltip-up"): kbd F4
		li: button( data-tip="Tool Tip", class="c116 fn tooltip-up"): kbd F5
		li: button( data-tip="Tool Tip", class="c117 fn tooltip-up"): kbd F6
		li: button( data-tip="Tool Tip", class="c118 fn tooltip-up"): kbd F7
		li: button( data-tip="Tool Tip", class="c119 fn tooltip-up"): kbd F8
		li: button( data-tip="Tool Tip", class="c120 fn tooltip-up"): kbd F9
		li: button( data-tip="Tool Tip", class="c121 fn tooltip-up"): kbd F10
		li: button( data-tip="Tool Tip", class="c122 fn tooltip-up"): kbd F11
		li: button( data-tip="Tool Tip", class="c123 fn tooltip-up"): kbd F12
		li: button( data-tip="Tool Tip", class="fn tooltip-right"): kbd Eject
	
	//- ==============================================================================================
	
	// Second row Numbers
	ul#number-keys
		li: <button data-tip="Tool Tip" class="c192 tooltip-left"><b>~</b><kbd>`</kbd></button>
		li: <button data-tip="Tool Tip" class="c49"><b>!</b><kbd>1</kbd></button>
		li: <button data-tip="Tool Tip" class="c50"><b>@</b><kbd>2</kbd></button>
		li: <button data-tip="Tool Tip" class="c51"><b>#</b><kbd>3</kbd></button>
		li: <button data-tip="Tool Tip" class="c52"><b>$</b><kbd>4</kbd></button>
		li: <button data-tip="Tool Tip" class="c53"><b>%</b><kbd>5</kbd></button>
		li: <button data-tip="Tool Tip" class="c54"><b>^</b><kbd>6</kbd></button>
		li: <button data-tip="Tool Tip" class="c55"><b>&amp;</b><kbd>7</kbd></button>
		li: <button data-tip="Tool Tip" class="c56"><b>*</b><kbd>8</kbd></button>
		li: <button data-tip="Tool Tip" class="c57"><b>(</b><kbd>9</kbd></button>
		li: <button data-tip="Tool Tip" class="c48"><b>)</b><kbd>0</kbd></button>
		li: <button data-tip="Tool Tip" class="c189 alt"><b>_</b><kbd>-</kbd></button>
		li: <button data-tip="Tool Tip" class="c187"><b>+</b><kbd>=</kbd></button>
		
		li: button(data-tip="Tool Tip", class="c46 tooltip-right", id="delete"): kbd Delete
	
		
	//- ==============================================================================================
	// QWERTY
	ul#qwerty-keys
		li: button(data-tip="Tool Tip", class="c9 tab tooltip-left"): kbd tab
		
		li: button(data-tip="Tool Tip", class="c81"): kbd q
		li: button(data-tip="Tool Tip", class="c87"): kbd w
		li: button(data-tip="Tool Tip", class="c69"): kbd e
		li: button(data-tip="Tool Tip", class="c82"): kbd r
		li: button(data-tip="Tool Tip", class="c84"): kbd t
		li: button(data-tip="Tool Tip", class="c89"): kbd y
		li: button(data-tip="Tool Tip", class="c85"): kbd u
		li: button(data-tip="Tool Tip", class="c73"): kbd i
		li: button(data-tip="Tool Tip", class="c79"): kbd o
		li: button(data-tip="Tool Tip", class="c80"): kbd p
		li: <button data-tip="Tool Tip" class="c219 alt"><b>{</b><kbd>[</kbd></button>
		li: <button data-tip="Tool Tip" class="c221 alt"><b>}</b><kbd>]</kbd></button>
		li: <button data-tip="Tool Tip" class="c220 alt tooltip-right"><b>|</b><kbd>\</kbd></button>

		
		
	//- ==============================================================================================
	//ASDFG	
	ul#asdfg-keys
		li
			div(class="c20 alt capslock")
				input(type="checkbox", name="caps", id="capslock-id")
				label#caps(for="capslock-id", class="button tooltip-left", data-tip="Tool Tip", unselectable)
					kbd caps lock
					
		li: button(data-tip="Tool Tip", class="c65"): kbd a
		li: button(data-tip="Tool Tip", class="c83"): kbd s
		li: button(data-tip="Tool Tip", class="c68"): kbd d
		li: button(data-tip="Tool Tip", class="c70"): kbd f
		li: button(data-tip="Tool Tip", class="c71"): kbd g
		li: button(data-tip="Tool Tip", class="c72"): kbd h
		li: button(data-tip="Tool Tip", class="c74"): kbd j
		li: button(data-tip="Tool Tip", class="c75"): kbd k
		li: button(data-tip="Tool Tip", class="c76"): kbd l
		li: button(data-tip="Tool Tip", class="c186 alt"): <b>:</b><kbd>;</kbd>
		li: button(data-tip="Tool Tip", class="c222 alt"): <b>"</b><kbd>'</kbd>
		
		li: button(data-tip="Tool Tip", class="c13 alt return tooltip-right", id="enter"): kbd return
	
		
		
	//- ==============================================================================================
	//ZXCVB
	ul#zxcvb-keys
		li: button(data-tip="Tool Tip", class="c16 shiftleft tooltip-left"): kbd Shift
		
		li: button(data-tip="Tool Tip", class="c90"): kbd z
		li: button(data-tip="Tool Tip", class="c88"): kbd x
		li: button(data-tip="Tool Tip", class="c67"): kbd c
		li: button(data-tip="Tool Tip", class="c86"): kbd v
		li: button(data-tip="Tool Tip", class="c66"): kbd b
		li: button(data-tip="Tool Tip", class="c78"): kbd z
		li: button(data-tip="Tool Tip", class="c77"): kbd m
		li: button(data-tip="Tool Tip", class="c188 alt")<b>&lt;</b><kbd>,</kbd>
		li: button(data-tip="Tool Tip", class="c190 alt")<b>&gt;</b><kbd>.</kbd>
		li: button(data-tip="Tool Tip", class="c191 alt")<b>?</b><kbd>/</kbd>
		
		li: button(data-tip="Tool Tip", class="c16 shiftright tooltip-right"): kbd Shift
		
		
		
	//- ==============================================================================================
	// Bottom Row
	ul#bottom-keys 
		li: button(data-tip="Tool Tip", class="tooltip-left", id="fn"): kbd fn
		li: button(data-tip="Tool Tip", class="c17", id="control"): kbd ctrl
		li: button(data-tip="Tool Tip", class="option", id="optionleft"): kbd alt
		li: button(data-tip="Tool Tip", class="command commandleft", id="commandleft"): kbd cmd
		
		li: button(data-tip="Tool Tip", class="c32", id="spacebar"): kbd &nbsp;
		
		li: button(data-tip="Tool Tip", class="command commandright", id="commandright"): kbd cmd
		li: button(data-tip="Tool Tip", class="option", id="optionright"): kbd alt

		//- Arrow Navigation -------------------------------------------------------------------------
		ol#arrow-keys
			li: button(data-tip="Tool Tip", class="c37", id="left"): kbd ◀
			li
				button(data-tip="Tool Tip", class="c38 tooltip-up", id="up"): kbd ▲
				button(data-tip="Tool Tip", class="c40", id="down"): kbd ▼
				
			li: button(data-tip="Tool Tip", class="c39 tooltip-right", id="right"): kbd ▶